:root {
    --blue: #26547c;
    --pink: #ef476f;
    --yellow: #ffd166;
    --green: #06d6a0;
    --main-white: #f0f0f0;
  }

  body {
    padding-top: 60px;
  }

  header {
    background-color: var(--pink);
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  #navbar, #projects {
    padding: 0 20px 0 20px;
  }

  #navbar {
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #navbar ul {
    display: flex;
  }

  #navbar ul li {
    margin-right: 40px;
    height: 100%;
  }

  #navbar ul li:last-child {
    margin-right: 0;
  }

  #navbar ul li a {
    color: var(--main-white);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.2rem;
  }

  #navbar ul li a:hover {
    color: var(--green);
  }

  #welcome-section {
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #welcome-section h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-white);
  }

  #welcome-section span {
    font-size: 1.3rem;
    color: var(--yellow);
  }

  #projects {
    background-color: var(--pink);
    height: 100vh;
  }

  #projects h2 {
    color: var(--main-white);
    font-size: 1.7rem;
    text-align: center;
    padding: 60px 0;
  }

  .projects-flex {
    display: flex;
    justify-content: center;
  }

  .project {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    background-color: var(--yellow);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  .project:last-child {
    margin-right: 0;
  }

  .project a {
    padding: 20px;
    text-align: center;
    font-weight: 700;
    color: var(--blue);
    text-decoration: none;
    transition: color 0.5s;
  }

  .project a:hover {
    color: var(--green);
  }

  #profile-link {
    text-align: center;
    display: block;
    padding: 80px;
  }

  #profile-link img {
    width: 100%;
    max-width: 100px;
  }

  #contact {
    background-color: var(--blue);
    padding: 80px;
    text-align: center;
    color: var(--yellow);
    font-size: 1.7rem;
  }

  #contact a {
    color: var(--green);
    transition: all 0.4s;
  }

  #contact a:hover {
    opacity: 0.5;
  }

  @media (max-width: 768px) {

    #projects {
      height: 100%;
    }

    .projects-flex {
      flex-direction: column;
      align-items: center;
    }

    .project {
      margin: 0 0 30px 0;
    }
  }